@font-face{
    font-family: maisonNeue;
    src:url(/Fonts/maison-neue/MaisonNeueThin.otf);
    font-weight:100;
}

@font-face{
    font-family: maisonNeue;
    src:url(/Fonts/maison-neue/MaisonNeueMedium.otf);
    font-weight:200;
}

@font-face{
    font-family: maisonNeue;
    src:url(/Fonts/maison-neue/MaisonNeueLight.otf);
    font-weight:300;
}

@font-face{
    font-family: maisonNeue;
    src:url(/Fonts/maison-neue/MaisonNeueExtraThin.otf);
    font-weight:400;
}

@font-face{
    font-family: maisonNeue;
    src:url(/Fonts/maison-neue/MaisonNeueBlack.otf);
    font-weight:500;
}

@font-face {
    font-family: maisonNeue;
    src:url(/Fonts/maison-neue/MaisonNeueBold.otf);
    font-weight:600;
}

@font-face{
    font-family: maisonNeue;
    src:url(/Fonts/maison-neue/MaisonNeueBook.otf);
    font-weight:700;
}
  
@font-face{
    font-family: maisonNeue;
    src:url(/Fonts/maison-neue/MaisonNeueBold.otf);
    font-weight:bold;
}

@font-face{
    font-family: maisonNeue;
    src:url(/Fonts/maison-neue/MaisonNeueExtendedExtraBold.otf);
    font-weight:bolder
}

body{
    font-family: maisonNeue;
}

#nav-bar{
    transition: top 0.3s ease-in-out;
}

nav a {
    text-decoration: none;
    color: #333;
}

section {
    padding: 2em;
}

/* for videos */

.container {
    margin: 0 auto;
    width: 60%;
    height: 400px;
    position: relative;
    overflow: hidden;
  }
  .slides {
    display: flex;
    height: 100%;
  }
  .slide {
    min-width: 100%;
    position: relative;
  }
  .slide img {
    width: 100%;
    height: 100%;
  }
  .slide-controls {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #next-btn,
  #prev-btn {
    cursor: pointer;
    background: transparent;
    font-size: 30px;
    border: none;
    padding: 10px;
    color: white;
  }
  #next-btn:focus,
  #prev-btn:focus {
    outline: none;
  }
  .slide-content {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    font-size: 60px;
    color: white;
  }
  
